<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>游戏设置</title>
    <link rel="stylesheet" href="./css/entry.css">
</head>
<body>
<div class="button-container">
    <button onclick="window.location.href='/join'">加入游戏</button>
    <button onclick="window.location.href='/game/set'">游戏设置</button>
    <button onclick="window.location.href='/voice/set'">语音设置</button>
<!--    <button onclick="window.location.href='/file/set'">文件路径设置</button>-->
</div>
</body>
</html>
